<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Busonrails</h1>
    <p>
      Vous vous êtes bien enregistré sur busonrails.com,
      votre mail est : <%= @user.email %><br>
      votre mot de passe est : <%= @user.password %><br>
    </p>
    <p>
      Lien: <%= @url %>.
    </p>
    <p>Merci pour votre inscription!</p>
  </body>
</html>