<h1>Sign up</h1>

<%= render "form" %>

<div>
	<%=
		if :email && :password != nil
			puts "Un mail vous a été envoyé.Merci de bien vouloir consulter votre messagerie pour confirmer votre enregistrement." 
	  end %>

</div>