<h1>Créer un compte</h1>

<h3>ETAPE 1/4</h3>

<%= render "formparents" %>

<div>
	<%=
		if :email && :password != nil
			puts "Un mail vous a été envoyé.Merci de bien vouloir consulter votre messagerie pour confirmer votre enregistrement." 
	  end %>

</div>