<%= link_to image_tag("bus.jpg", :width=> 70, :height =>70 ), :action =>'accueil', :controller =>'pages'%>

<!--il faut changer la distination de lien-->

<center><h1>Transport scolaire!</h1></center>
<center><h4>Année 2014-2015</h4></center>
<div style="width:1000px; height:150px;text-align:center; border:solid 1px black; color:green">
	
		<p>kjldsfmlsqdjflkjvldsqkfj<br>
			dsffqsqqdsgqffdsgdsfgfdg<br>
			qfsmjmlfmjqdsmfljdslmjgsdfsq<br>
			qsfdofmlsqdpoiejfmlsjflqksjf<br>
			klhshdqoiezrosqfdhylqshkddhl<br>
		</p>
	

</div>

<%= link_to 'Créer un compte', controller: "users", action:"new" %>
